<template name="main">
<h3> Our todays budget is :{{ budget.budget }}  </h3> 

<form class="New_Expense">
	<input type="text" name="name" placeholder="Enter the Item/Activity you spend">
	<input type="text" name="spent" placeholder="Amout you have spent">
	<button class="addExpense">Add Expense</button>
</form>
<h2>List of Todays Expense</h2>
{{ #if equals expense_list "None"}}
	<h3>{{ expense_list }}</h3>
{{else}}
{{ #each expense_list }}
<h3> {{ name}} {{ amount }} {{ time }} </h3>
<!--- <p>{{>this.time}}, {{>this.name}}, {{>this.amount}}</p> -->
{{/each}}
{{/if}}

</template>